.jobFooterContainer {
  display: flex;
  justify-content: space-between;
}

.displayDate {
  color: #a6a6a6;
  font-weight: 400;
  font-size: 0.85rem;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  font-weight: 300;
}
